insurance2/HELP.md
insurance2/target/
insurance2/!.mvn/wrapper/maven-wrapper.jar
insurance2/!**/src/main/**/target/
insurance2/!**/src/test/**/target/

### STS ###
insurance2/.apt_generated
insurance2/.classpath
insurance2/.factorypath
insurance2/.project
insurance2/.settings
insurance2/.springBeans
insurance2/.sts4-cache

### IntelliJ IDEA ###
insurance2/.idea
insurance2/*.iws
insurance2/*.iml
insurance2/*.ipr

### NetBeans ###
insurance2//nbproject/private/
insurance2//nbbuild/
insurance2//dist/
insurance2//nbdist/
insurance2//.nb-gradle/
insurance2/build/
insurance2/!**/src/main/**/build/
insurance2/!**/src/test/**/build/

### VS Code ###
insurance2/.vscode/

insurance2/src/.test/*
insurance2/src/main/.resources/*

insurance2/pom.xml
insurance2/mvnw.cmd
insurance2/mvnw
insurance2/.gitignore
insurance2/.mvn/
